# Dependencies
node_modules
.pnpm-store

# Production build outputs
dist
build

# Environment variables
.env
.env.local
.env.*.local

# SQLite Database
*.sqlite
*.db
server/data/*.db

# Logs
logs
*.log
npm-debug.log*

# OS & Editor
.DS_Store
.vscode
.idea

# Local Netlify folder
.netlify
